.auth-page {
  display:flex;
  justify-content:center;
  gap:4rem;
  padding-block:4rem;
  flex-wrap:wrap;
  font-family:system-ui, sans-serif;
  background: var(--main-gradient);
}

.auth-column {
  max-width:300px;
}
.auth-form {
  display:flex;
  flex-direction:column;
  gap:0.75rem;
  padding: 0.6rem;
}

.create-title {
  font-size:1.2rem;
  font-weight:600;
  text-align:center;
  margin-bottom:1.5rem;
  
}

.auth-form label {
  font-size: 1.1rem;
  opacity:.8;
}

.auth-form input {
  width:100%;
  padding:0.5rem 0.75rem;
  font-size:1rem;
  border:1px solid #555;
  border-radius:4px;
}

.auth-form button {
  margin-top:0.75rem;
  padding:0.6rem;
  font-size:1.2rem;
  background: var(--buttonBackground);
  border: 1px dotted rgb(139, 139, 139);
  border-radius:6px;
  color:rgb(250, 249, 249);
  cursor:pointer;
}

.auth-form button:hover {
  filter:brightness(.9);
}

.auth-form .guest-button {
  background:#7d8788;
  font-size: 1.2rem;
  margin: 0;
}
.auth-form .guest-button:hover {
  filter:brightness(.9);
}
.success-message {
  font-size: 14px;
  color: rgb(45, 159, 45);
  font-weight: 600;
  margin: 0;
  
}
.error-message {
  font-size: 1rem;
  color: rgb(224, 38, 38);
  font-weight: 600;
  margin: 0;
   word-wrap: break-word;
}
.or {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 600px) {
  .auth-page {
    gap: 1rem;
    padding-block: 1rem;
  }
  .auth-column {
    max-width: 50%;
    width: 50%;
  }
}