.box {
  padding: 1rem;
  background: #f5f5f5;
  border-radius: 8px;
  margin: 2rem 0;

  p {
    margin: 10px;
    font-size: 22px;
  }
}

.users-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.users-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  gap: 6px;
  font-size: 1.2rem;
}

.users-icon {
  margin-right: 8px;
  font-size: 1.2rem;
  cursor: pointer;
}
.user-item {
  
  margin: 6px 0;
  font-size: 1rem;
}
/* @media (max-width: 768px) {
    .users-list li {
        padding: 0.1rem 0;
        gap: 0;
    }
    .box {

      padding: 0.5rem;
    }
} */