.box {
  padding: 1rem;
  background: #f5f5f5;
  border-radius: 8px;
  margin: 1rem 0;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;

  p {
    margin: 10px;
    font-size: 22px;
  }
}
h2 {
  color: rgb(25, 47, 53);
  font-size: 1.38rem;
}
.users-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.users-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
  gap: 6px;
  font-size: 1.2rem;
}

.users-icon {
  margin-right: 8px;
  font-size: 1.2rem;

}
.user-item {
  margin: 6px 0;
  font-size: 1rem;
  color: var(--titleColor)
}
.user-item :hover {
  outline: 2px solid #e5f6fa;
}