.locked-channel-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.locked-channel {
    padding: 1rem;
    background: #f5f5f5;
    border-radius: 8px;
    margin: 1rem 0;
}
.channels-list {
    padding: 1rem;
    background: #f5f5f5;
    border-radius: 8px;
    margin: 1rem 0;  
  
}
.channels-list li {
    display: flex;
    align-items: center;
     padding: 0.5rem 0;
     border-bottom: 1px solid #ddd;
   
}
.locked-channels-list {
    padding: 1rem;
    background: #f5f5f5;
    border-radius: 8px;
    margin: 1rem 0;
    list-style: none;
    
}
.locked-channels-list li {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}
.fa-tower-broadcast {
    margin-right: 8px;
  font-size: 1.2rem;
}
.unlocked-channel {
    padding: 0,5rem 0;
}
.channel-box {
    padding: 1rem;
  background: #f5f5f5;
  border-radius: 8px;
  margin: 1rem 0;
}