.title-button-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.locked-channel-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.locked-channel {
    padding: 1rem;
    background: #f5f5f5;
    border-radius: 8px;
    margin: 1rem 0;
}
.locked-channels-list {
    padding: 1rem;
    background: #f5f5f5;
    border-radius: 8px;
    margin: 1rem 0;
    list-style: none;
    
}
.locked-channels-list li {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}
.fa-tower-broadcast {
    margin-right: 8px;
  font-size: 1.2rem;
}
.unlocked-channel {
    padding: 0,5rem 0;
}
.channels-list {
    padding: 1rem;
    background: #f5f5f5;
    border-radius: 8px;
    margin: 1rem 0;  
    max-height: 500px; 
    overflow-y: auto;   
    overflow-x: hidden; 
}
.channels-list li {
    display: flex;
    align-items: center;
     padding: 0.5rem 0;
     border-bottom: 1px solid #ddd;
     gap: 6px;        
    flex-wrap: wrap; 
}

.channel-box {
    padding: 0.5rem;
    background: #f5f5f5;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    color: var(--titleColor)
}

.channel-box:hover {
    background: #ebebeb;
}

.message-count {
    font-size: 0.9rem;
    color: #666;
    margin-left: auto;
}

.channel-chat-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.channel-chat-popup {
    background: white;
    width: 500px;
    max-width: 90vw;
    height: 600px;
    max-height: 80vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
}

.channel-chat-header {
    background: #5097a3;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 10px;
}

.channel-chat-header h3 {
    margin: 0;
    font-size: 1.2rem;
}
.create-channel-button {
    padding:4px;
    font-size:16px;
    color: var(--titleColor);
    border: 1px solid var(--titleColor);
    border-radius:6px;
    cursor:pointer;
}
.create-channel-button:hover {
    background: #edf7f9;
}
.create-channel-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.create-channel-content {
    background: #eee;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    min-width: 200px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin:1rem;

    h3 {
        margin: 0;
        font-size: 1.2rem;
        text-align: center;
    }
}

.create-channel-content input {
    width: 100%;
    height: 40px;
    padding: 0.5rem;
    font-size: 16px;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
    box-sizing: border-box;
}

.create-channel-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
.channel-chat-content {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
}

.channel-chat-message {
    padding: 0.5rem;
    border-bottom: 1px dotted rgb(153, 152, 152);
    
}

.channel-message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}


.channel-message-time {
    font-size: 0.8rem;
    color: #666;
}

.channel-message-text {
    color: #333;
    line-height: 1.4;
}

.channel-chat-input {
    padding: 1rem;
    border-top: 1px solid #eee;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.channel-message-input {
    flex: 1;
    padding: 0.75rem;
    border: 1px dotted #646464;
    border-radius: 20px;
    outline: none;
    font-size: 0.9rem;
}


.channel-send-button {
    padding: 4px 8px;
    background: var(--buttonBackground);
    color: var(--titleColor);
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    
    
}

.channel-send-button:hover:not(:disabled) {
    background: #9fb7c2;
}

.channel-send-button:disabled {
    background: #ccc;
    cursor: not-allowed;
}


.channel-box.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #f5f5f5;
  border: 1px dashed #ccc;
}
.close-channel-chat {
    font-size: 18px;
    padding: 0;
    background: none;
    border: none;
}
.fa-lock {
    font-size: 15px;
    padding: 4px;
}
.create-channel-button.transparent {
  opacity: 0.5;
  pointer-events: none; 
}
.remove-message {
    color: rgb(55, 186, 55);
    font-size: 16px;
    animation: slideDown 0.3s ease-out, fadeOut 0.5s ease-in 1.5s forwards;
}
.create-button, .close-channel-button  {
    margin-top:0.5rem;
    padding:6px;
    font-size:16px;
    background: var(--buttonBackground);
    border:none;
    border-radius:6px;
    color:rgb(35, 37, 37);
    cursor:pointer;
}
.create-button:hover {
    filter: brightness(0.9);
}

.title-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.fa-trash {
    cursor: pointer;
    width:22px;
    height:18px;
   
}
.fa-xmark {
    cursor: pointer;
}
.delete-own-channel {
    padding: 0;
    background: none;
    border: none;
}
@media (max-width: 325px) {
    .channel-chat-input {
       flex-direction: column; 
    }
}