
.chat-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    background: var(--main-gradient);
}
.welcome {
    font-size: 1.5rem;
    color: rgb(25, 47, 53);
    margin: 0;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    font-style: italic;
    
}
h3 {
    margin: 6px 0;;
    color: rgb(25, 47, 53);
    font-size: 18px;
}

.chatpage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 1rem;
}

.dm-section {
    background: white;
    padding: 15px;
    border-radius: 8px;
    
}

.dm-section h3 {
    margin: 0 0 10px 0;
    color: rgb(25, 47, 53);
    font-size: 18px;
    padding-bottom: 8px;
}


@media (max-width: 768px) {
    .chatpage {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .welcome {
        font-size: 1.5rem;
    }
    .chat-container {
        padding: 8px;
    }
}

 @media (max-width: 400px) {

    .sidebar {
        grid-template-columns: 1fr;
    }
    .welcome {
        font-size: 1.1rem;
    }
}


