.header-container {
    /* background-color: rgb(235, 240, 244); */
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:flex-end;
    align-items: stretch;
    background-size: contain; 
    background-position: center;
    background-color: rgb(246, 250, 251);
   
}

.logo {

    width: 75px;
    height: 60px;

}
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    a {
        margin: 5px;
        font-size: 20px;
    }

}

.user-hover-text {
    display: none;
    position: absolute;
    color: #6a6a6a;
    padding: 2px;
    font-size: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
   
}
.user-icon-container {
    position: relative;
    display: inline-block;
    background-color: var(--boxShadow);
}
.user-icon-container:hover .user-hover-text {
    display: inline-block;
}
.profile-popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 100px;
    
}
.user-icon {
    cursor: pointer;
    font-size: 22px;
    color: rgb(35, 16, 66)
}
.logout-btn, .remove-btn, .close-btn, .login-btn {
    padding:6px;
    font-size:16px;
    background: rgb(214, 233, 229);
    border: 1px dotted rgb(165, 165, 165);
    border-radius:1px;
    color:rgb(35, 37, 37);
    cursor:pointer;
}
.user-icondisabled{
    font-size: 22px;
    color: rgb(35, 16, 66)
}