.header-logo {
  width: 10%;
}
.header-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-size: contain; 
    background-position: center;
    background-color: rgb(246, 250, 251);
    
}

.chatLogo {
    width: 75px;
    height: 60px;
    
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
    
    a {
        margin: 5px;
        font-size: 20px;
    }
    
}

.user-hover-text {
    display: none;
    position: absolute;
    color: #6a6a6a;
    padding: 2px;
    font-size: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    
}
.user-icon-container {
    position: relative;
    display: inline-block;
    background-color: var(--boxShadow);
}
.user-icon-container:hover .user-hover-text {
    display: inline-block;
}
.profile-popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 100px;
    
}
.user-icon {
    cursor: pointer;
    font-size: 22px;
    color: rgb(35, 16, 66);
}

.user-icon-container:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 250%;
    transform: translateX(-50%);
    background-color: #f5f5f5;
    color: rgb(36, 35, 35);
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    font-size: 0.8rem;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0;
    animation: tooltipFadeIn 0.3s ease forwards;
}

.user-icon-container:hover::before {
    content: '';
    position: absolute;
    bottom: calc(120% - 5px);
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid transparent;
    border-top-color: #333;
    z-index: 1000;
}

@keyframes tooltipFadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}
.logout-btn, .remove-btn, .close-btn, .login-btn {
    padding:6px;
    font-size:16px;
    background: rgb(252, 254, 255);
    border: 1px dotted rgb(165, 165, 165);
    border-radius:1px;
    color:rgb(35, 37, 37);
    cursor:pointer;
}
.user-icondisabled{
    font-size: 22px;
    color: rgb(35, 16, 66)
}