.header {
    background-color: antiquewhite;
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:flex-end;
    align-items: stretch;

}
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;

    a {
        margin: 5px;
        font-size: 20px;
    }

}

.user-hover-text {
    display: none;
    position: absolute;
    color: #333;
    padding: 2px;
    font-size: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
   
}
.user-icon-container:hover .user-hover-text {
    display: inline-block;
}

