@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


:root {
  --boxShadow: 0 6px 12px rgba(0, 0, 0, 0.06);
  --buttonBackground: #478e9acc;
  --main-gradient: linear-gradient(135deg, #f5f7fa 0%, #c3d9e2 100%);
  --titleColor: rgb(25, 47, 53);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: 'comic-neue', sans-serif;
  min-height: 100vh;
  color: var(--titleColor)

}
